{% extends "biocloud/dashboard.html" %}

{% load staticfiles %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
			<i class="fa fa-laptop"></i>
			<h3 class="text-uppercase">Online Storage</h3>
			<p>We offer the most secure and cheap storage for all your files (FASTQ, BAM and VCF). We don't actually charge anything for storing your files and out monthly prices per GB are cheaper than Amazon S3. </p>
		</div>
		<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
			<i class="fa fa-twitter"></i>
			<h3 class="text-uppercase">Best Tools</h3>
			<p>We integrate the best and most popular tools for you to do your analysis. With this you can use modern pipelines and generate beautiful and meaningful reports for your data. We integrated the most up-to-date softwares and help you to validate different types of files such as FASTQ, BAM and VCF. We provide interfaces for different tools such as samtools, vcftools, SOAP2, BWA, GATK and many other to provide the best services for you needs.</p>
		</div>
		<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
			<i class="fa fa-font"></i>
			<h3 class="text-uppercase">Mobile</h3>
			<p>With our services you can control your analysis from basically anywhere with an API using your computer, phone or tablet. </p>
		</div>
	</div>
</div>
{% endblock %}

